@font-face {
  font-family: "DegularDisplay";
  src: url("./../fonts/Degular-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DegularDisplay";
}

:root {
  --bg-white--: #ffffff;
  --bg-dark--: #271f18;
  --bg-grey--: #676767;
  --text-white--: #ffffff;
  --text-dark--: #000000;
}

/* Header section css start */
header {
  width: 100%;
}

.header_content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;
  align-items: center;
}

.header_logo {
  text-align: center;
  padding: 15px 0;
}

.header_logo img {
  max-width: 64px;
  width: 100%;
  max-height: 112px;
  height: 100%;
}

.portfolio {
  background-color: var(--bg-dark--);
  max-height: 40px;
  height: 100%;
  color: var(--bg-white--);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.portfolio h6 {
  font-size: 11px;
  font-weight: 600;
  border-bottom: 1px solid var(--bg-white--);
  padding: 5px 7px;
}

.collaborer {
  border: 1px solid var(--text-dark--);
  max-height: 40px;
  height: 100%;
  color: var(--text-dark--);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.collaborer h6 {
  font-size: 11px;
  font-weight: 600;
  border-bottom: 1px solid var(--bg-dark--);
  padding: 5px 2px;
}
/* Header section css end */

/* Banner section css start */
.banner {
  background: url(../assets/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 1083px;
  height: 100%;
}
.banner-logo {
  max-width: 250px;
  width: 100%;
  padding-top: 59px;
}
.banner-content {
  padding-top: 60px;
}
.banner-content .heading h1 {
  text-align: center;
  min-width: 300px;
  max-width: 863px;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 47px;
  line-height: 47px;
  letter-spacing: -2%;
  padding-bottom: 40px;
}
.banner-content .text {
  max-width: 315px;
  width: 100%;
  text-align: center;
  padding-bottom: 120px;
  font-size: 15px;
  margin: 0 auto;
}
.banner-content .text span {
  font-weight: bold;
}
.banner-scrool-icon {
  width: 80px;
  height: 80px;
}
/* Banner section css end */
/* Footer section css start */
footer {
  background-image: url("./../assets/footer-bg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_content {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer_logo {
  text-align: center;
}

.footer_logo img {
  max-width: 100px;
  width: 100%;
}

.footer_mid,
.footer_right {
  padding-top: 10px;
}

.footer_right {
  text-align: center;
}

.footer_mid p,
.footer_right p {
  font-size: 11px;
  font-weight: 700;
}

/* Footer section css end */

/* @media quaries */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .banner {
    background: url(../assets/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 1083px;
    height: 100%;
  }
  .banner-logo {
    max-width: 250px;
    width: 100%;
    padding-top: 85px;
  }
  .banner-content {
    padding-top: 120px;
  }
  .banner-content .heading h1 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 120px;
    line-height: 100px;
    letter-spacing: -2%;
    padding-bottom: 80px;
  }
  .banner-content .text {
    max-width: 863px;
    width: 100%;
    text-align: center;
    padding-bottom: 120px;
  }
  .banner-content .text span {
    font-weight: bold;
  }
  .banner-scrool-icon {
    width: 161px;
    height: 161px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .banner-content .heading h1 {
    font-size: 80px;
    line-height: 80px;
  }
  .banner-content .text {
    max-width: 863px;
    width: 100%;
    text-align: center;
    padding-bottom: 120px;
  }
}


